<link rel="stylesheet" href="./components/category-nav/category-nav.css">
<nav class="bottom-nav">
    <div class="bottom-nav__samples">
        
    </div>
    
    <div class="categories-menu">
        <span class="categories-menu__trigger">
            Más Categorias <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1" viewBox="0.00 0.00 30.00 30.00">
                <path fill="currentColor" d="
                  M 15.54 17.30
                  L 25.49 9.13
                  A 0.81 0.81 0.0 0 1 26.79 9.58
                  L 27.27 11.69
                  A 0.81 0.81 0.0 0 1 26.99 12.50
                  L 15.53 21.87
                  A 0.81 0.81 0.0 0 1 14.51 21.87
                  L 3.23 12.64
                  A 0.81 0.81 0.0 0 1 2.93 11.97
                  L 3.04 9.59
                  A 0.81 0.81 0.0 0 1 4.37 9.00
                  L 14.52 17.30
                  A 0.81 0.81 0.0 0 0 15.54 17.30
                  Z"
                />
                </svg>
                 
        </span>
        <ul class="categories-menu__list">
            
        </ul>  
    </div>
    
</nav>

<template id="category-item">
    <li class="categories-menu__item"><a href="#" class="categories-menu__link">...</a></li>
</template>

<template id="category-sample">
    <a href="#" class="bottom-nav__link">...</a>
</template>