
h1, h3{
    margin: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

.shopping{
    width: 75%;
    margin: 2rem auto;
    font-family: 'Lato', sans-serif;
}

.shopping__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.299);
    margin-bottom: 1rem;
}

.shopping__heading{
    font-weight: 500;
    font-size: 1.8rem;
}

.shopping__container{
    background-color: #dadada;
    padding: 0.5rem 1.8rem 1rem;
    min-height: 70vh;
}

.shopping__img{
    width: 150px;
    height: 150px;
}

.shopping__date {
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.641);
}

.shopping__article{
    display: flex;
    justify-content: space-between;
}

.shopping__info{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.shopping__product{
    display: flex;
    gap: 1rem
}

.shopping__name, .shopping__price {
    font-size: 1.4rem;
}

.shopping__shipping{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.shopping__state{
    font-weight: bold;
    color: green;
}

.shopping__bold{
    font-weight: bold;
}

.shopping__button{
    color: rgb(255, 255, 255);
    background-color: #FF28A5;
    width: fit-content;
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
    transition: background-color .3s;
}

.shopping__button:hover{
    cursor: pointer;
    background-color: #fb89cb;
}