:root{
    --primary-color: #ffffff;
    --primary-color-hover: #eaeaea;
    --background-color: #EDEDED;
    --secondary-color: #FF28A5;
    --fuente-principal: 'Lato', sans-serif;
}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: var(--background-color);
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: inherit
}

.center-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-search {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.container{
    width: 75%;
    margin: 4.5rem auto;
}