.login__card {
    min-width: fit-content;
    position: relative;
    width: 500px;
    padding: 2.5rem;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.login__header{
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    align-items: center;
}

.login__heading{
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
    margin: 0;
    color: #FF28A5;
    font-weight: bold;
}

.login__form{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem
}

.sign-button{
    width: 100%;
    background-color: #FF28A5;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.6rem 0.5rem;
    text-align: center;
    border-radius: 1rem;
    border: none;
    transition: background-color .3s;
    margin-top: 1.5rem;
}

.sign-button:hover{
    background-color: #ff46b2;
    cursor: pointer;
}
