<link rel="stylesheet" href="./components/login-card/login.css">
<div>
    <div class="login__card">
        <header class="login__header">
            <img src="./img/logo.svg" alt="Logo Wow Gift" width="150" height="150" class="login__logo">
            <h1 class="login__heading">Iniciar Sesión</h1>
        </header>
    
        <form class="login__form">
            <input-sign type="email" name="email" placeholder="Correo Electronico" icon="./img/email.svg" alt-icon="Email Icon"></input-sign>
            <input-sign type="password" name="password" placeholder="Contraseña" icon="./img/password.svg" alt-icon="Password Icon"></input-sign>
            <button class="sign-button">Ingresar</button>
        </form>
    </div>
    <toast-component></toast-component>
</div>
