<link rel="stylesheet" href="./components/carousel/carousel.css">
<div class="carousel">
    <div class="carousel__item initial-item">
        <section class="carousel-center carousel-center--birthday">
            <img src="https://pluspng.com/img-png/birthday-cake-png-birthday-cake-png-1579.png" alt="cake image 1" class="carousel-center__image">
            <div class="carousel-center__info">
                <h3 class="carousel-center__heading">¡Haz que cada cumpleaños sea inolvidable!</h3>
                <a class="carousel-center__button carousel-center__button--birthday" href="/search?category=birthday">Ver Regalos de cumpleaños</a>
            </div>
            <img src="https://purepng.com/public/uploads/large/purepng.com-birthday-cakefood-cake-birthday-941524601270r8qdw.png" alt="cake image 2" class="carousel-center__image carousel-center__image--right">
        </section>
    </div>

    <div class="carousel__item">
        <section class="carousel-center carousel-center--anniversary">
            <img src="https://pngimg.com/uploads/ring/ring_PNG16.png" alt="rings image" class="carousel-center__image">
            <div class="carousel-center__info">
                <h3 class="carousel-center__heading">¡Haz que el día sea más que especial!</h3>
                <a class="carousel-center__button carousel-center__button--anniversary" href="/search?category=aniversarios">!Comprar Regalos aqui!</a>
            </div>
            <img src="https://www.downloadclipart.net/medium/happy-anniversary-download-png-image.png" alt="flowers image" class="carousel-center__image">
        </section>
    </div>

    <div class="carousel__controls">
        <button class="carousel__control carousel__control--next">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="25" height="25" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="8.25 5.25 7.5 13.5">   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>   <path d="M9 6l6 6l-6 6"></path> </svg>
        </button>
        <button class="carousel__control carousel__control--previous">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="25" height="25" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="8.25 5.25 7.5 13.5">   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>   <path d="M15 6l-6 6l6 6"></path> </svg>
        </button>
    </div>

</div>