html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.main-container {
    width: 60%;
    margin: 1rem auto;
    font-family: 'Lato', sans-serif;
}

.article-detail {
    background-color: #D9D9D9;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1rem;
    padding: 1rem;
}

.article-detail__image {
    border-radius: 0.6rem;
    overflow: hidden;
}

.article-detail__img {
    height: 150px;
}

.article-detail__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-feedback__heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.181);
    padding: 1rem 0 0.4rem;
    font-size: 1.5rem;
}

.article-feedback__fields {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.article-feedback__field {
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 1rem;
    align-items: start;
}

.article-feedback__label {
    font-weight: bold;
    font-size: 1.2rem;
}

.article-feedback__input {
    border: none;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.article-feedback__input--descripcion {
    resize: none;
    height: 100px;
}

.stars i {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars i.active {
    color: #ff9c1a;
}
/*botton*/
.article-feedback__submit {
    width: fit-content;
    align-self: flex-end;
    background-color: #FF28A5;
    color: white;
    padding: 0.4rem 1.3rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    transition: background-color .3s;
}

.article-feedback__submit:hover {
    cursor: pointer;
    background-color: #ff0095;
}
