<link rel="stylesheet" href="/components/article-feedback/feedback.css">
<div class="main-container">
    <section class="article-detail">
        <div class="article-detail__image">
            <img src="https://s3.amazonaws.com/images.ecwid.com/images/22217770/1287930422.jpg" alt="Imagen" class="article-detail__img">
        </div>
        <div class="article-detail__info">
            <h2 class="article-detail-name">Nombre Producto</h2>
            <p class="article-detail__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur soluta aspernatur amet facilis voluptatibus necessitatibus error est similique doloribus quia fuga beatae sunt illum, maxime earum suscipit inventore sequi porro?</p>
        </div>
    </section>
    <section class="article-feedback">
        <h2 class="article-feedback__heading">Reseña</h2>
        <div class="article-feedback__fields">
            <div class="article-feedback__field">
                <label for="descripcion" class="article-feedback__label">Comentario:</label>
                <textarea placeholder="Descripción" name="descripcion" class="article-feedback__input article-feedback__input--descripcion"></textarea>
            </div>
            <div class="article-feedback__field">
                <label for="descripcion" class="article-feedback__label">Calificación</label>
                <div class="stars">
                    <i class="a-star"></i>
                    <i class="a-star"></i>
                    <i class="a-star"></i>
                    <i class="a-star"></i>
                    <i class="a-star"></i>
                </div>
            </div>
            <button class="article-feedback__submit">Publicar</button>
        </div>

    </section>
</div>