<link rel="stylesheet" href="/components/select-component/select.css">
<div class="select">
    <select class="select__control"> 
        <option class="select__option">--Seleccionar--</option>
    </select>
    <div class="select__icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="12" height="12" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="5.25 8.25 13.5 7.5">   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>   <path d="M6 9l6 6l6 -6"></path> </svg>
    </div>
</div>

<template id="select-option">
    <option class="select__option"></option>
</template>