<link rel="stylesheet" href="./components/signup-card/signup-card.css">
<div>
    <div class="signup__card">
        <header class="signup__header">
            <img src="./img/logo.svg" alt="Logo Wow Gift" width="130" height="130" class="login__logo">
            <h1 class="signup__heading">Registrarse</h1>
        </header>
    
        <main>
            <form class="signup__form">
                <input-sign type="text" name="nombre" placeholder="Nombre de Usuario" icon="./img/user.svg" alt-icon="User Icon"></input-sign>
                <input-sign type="email" name="email" placeholder="Correo Electronico" icon="./img/email.svg" alt-icon="Email Icon"></input-sign>
                <input-sign type="tel" name="telefono" placeholder="Teléfono" icon="./img/phone.svg" alt-icon="Password Icon"></input-sign>
                <input-sign type="password" name="password" placeholder="Contraseña" icon="./img/password.svg" alt-icon="Password Icon"></input-sign>
                <input-sign type="password" name="confirm" placeholder="Confirmar Contraseña" icon="./img/password.svg" alt-icon="Password Icon"></input-sign>
                <button class="sign-button">Crear Cuenta</button>
            </form>
        </main>
    </div>
    <toast-component></toast-component>
</div>
