a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}


.products{
    width: 90%;
    margin: 2rem auto;
}

.product{
    background-color: white;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.118);
}

.product:last-of-type{
    border: none;
}

.product__flex{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
}

.product__name{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}

.product__price{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.product__img{
    width: 120px;
    height: 120px;
}

.product__details{
    display: flex;
    justify-content: space-between;
}