<main class="shopping">
    <div class="shopping__header">
        <h1 class="shopping__heading">Mis Compras</h1>
        <input type="date" class="shopping__inputDate">
    </div>
    

    <section class="shopping__container">
        <p class="shopping__date">4 de Octubre</p>
        
    </section>

</main>

<template id="shipping-template">
    <article class="shopping__article">
        <div class="shopping__product">
            <div class="shopping__image">
                <img src="https://s3.amazonaws.com/images.ecwid.com/images/22217770/1287930422.jpg" alt="Product Image" class="shopping__img">
            </div>

            <div class="shopping__info">
                <h3 class="shopping__name">Producto Nombre</h3>
                <p class="shopping__price">$200</p>
            </div>
        </div>

        <div class="shopping__shipping">
            <p class="shopping__state">En Camino</p>
            <p class="shopping__aprox">
                <span class="shopping__bold">Fecha Aproximada de llegada: </span> <span class="shopping__aproxDate">4 de Noviembre</span>
            </p>
            <a class="shopping__button shopping__detail">Detalle del envio</a>
            <a class="shopping__button shopping__comment">Añadir Reseña</a>
        </div>


    </article>
</template>