<link rel="stylesheet" href="/components/shipping-detail/shipping.css">
<div class="main-container">
    <section class="article-detail">
        <div class="article-detail__image">
            <img src="https://s3.amazonaws.com/images.ecwid.com/images/22217770/1287930422.jpg" alt="Imagen" class="article-detail__img">
        </div>
        <div class="article-detail__info">
            <h2 class="article-detail-name">Nombre Producto</h2>
            <p class="article-detail__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur soluta aspernatur amet facilis voluptatibus necessitatibus error est similique doloribus quia fuga beatae sunt illum, maxime earum suscipit inventore sequi porro?</p>
        </div>
    </section>
    <section class="shipping-detail">
        <h2 class="shipping-detail__heading">Detalles</h2>
        <div class="shipping-detail__grid">
            <div class="shipping-detail__info">
                <div class="shipping-detail__attribute">
                    <span class="shipping-detail__title">Enviado a:</span>
                    <span class="shipping-detail__desc shipping-detail__desc--destino">
                      <span>Nombre: <span class="shipping-detail__nombre">Juan</span></span> <span>Destino: <span class="shipping-detail__destino">calle/colonia</span></span>
                    </span>
                </div>
                <div class="shipping-detail__attribute">
                    <span class="shipping-detail__title">Enviado desde:</span>
                    <span class="shipping-detail__desc shipping-detail__desc--destino">
                        <span class="shipping-detail__calleOrigen"></span>
                        <span class="shipping-detail__coloniaOrigen"></span>
                    </span>
                </div>
                <div class="shipping-detail__attribute shipping-detail__attribute--inline">
                    <span class="shipping-detail__title">Fecha Aproximada de Llegada:</span>
                    <span class="shipping-detail__desc shipping-detail__desc--fecha">
                        Fecha
                    </span>
                </div>
                <div class="shipping-detail__attribute shipping-detail__attribute--inline">
                    <span class="shipping-detail__title">Estado:</span>
                    <span class="shipping-detail__desc shipping-detail__desc--estado">
                        En camino
                    </span>
                </div>
            </div>
            <div class="shipping-detail__total">
                <span class="shipping-detail__title shipping-detail__title--total">Total:</span>
                <span class="shipping-detail__desc shipping-detail__desc--total">
                    $200
                </span>
            </div>
        </div>
        
    </section>
</div>