html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

p{
    margin: 0;
}

h2{
    margin: 0;
}

img{
    max-width: 100%;
    display: block;
}

.main-container{
    width: 60%;
    margin: 1rem auto;
    font-family: 'Lato', sans-serif;
}

.article-detail{
    background-color: #D9D9D9;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1rem;
    padding: 1rem;
}

.article-detail__image{
    border-radius: 0.6rem;
    overflow: hidden;
}

.article-detail__img{
    height: 150px;
}

.article-detail__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.shipping-detail__heading{
    border-bottom: 1px solid rgba(0, 0, 0, 0.181);
    padding: 1rem 0 0.4rem;
    font-size: 1.5rem;
}


.shipping-detail__info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 0.4rem;
}

.shipping-detail__attribute{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.shipping-detail__attribute--inline{
    flex-direction: row;
}

.shipping-detail__title{
    font-weight: bold;
    font-size: 1.2rem;
}

.shipping-detail__desc {
    color: #666666;
    font-weight: bold;
    font-size: 1.1rem;
}

.shipping-detail__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.shipping-detail__total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shipping-detail__title--total{
    font-size: 1.4rem;
}

.shipping-detail__desc--total{
    color: initial;
    font-size: 1.7rem;
}

.shipping-detail__desc--destino{
    display: flex;
    gap: 1rem;
}

.shipping-detail__desc--estado.in-process {
    color: red
}

.shipping-detail__desc--estado.on-the-way {
    color: rgb(196, 161, 2);
}

.shipping-detail__desc--estado.delivered {
    color: green;
}